<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a  class="navbar-brand">Images Album</a>
        </div>
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a routerLink="/list">All images</a></li>
            <li><a routerLink="/favorits">Favorit list</a></li>
            <li><a routerLink="/search">Search</a></li>
        </ul>
        
     </div>
    </div>
</nav>
