<div class="row">
    
</div>
<div class="row">
    <div class="col-xs-12">
            <a  class="list-group-item clearfix col-xs-12" *ngFor="let p of photosFavoris">                    

                    <div class="pull-left col-xs-7">
                           
                            <h4 class="list-group-item-heading">By : {{p.author}}</h4>
                            <p class="list-group-item-text">{{p.text}}</p>
                    </div>
                            <span class="pull-right col-xs-5">
                                    <img [src]="p.photo" class="img-respnsive" >
                            </span>
                           
                           
                            <div class="col-xs-12">
                                <button (click)="deleteFavorit(p)" class="btn btn-danger"><span class="glyphicon glyphicon-star"></span>Remove from favorites</button>
                        </div>      
                    
            </a>
            
    </div>
</div>