
<ngx-spinner [name]="spName" [type]="spType" ></ngx-spinner>
<form>
    <div class="row">
            <div class="col-sm-2 form-group">
                    <label for="the_search"> Search by id :  </label>
                    <input type="number" [(ngModel)]="search"  name="smth" (input)="searchOnType()" class="form-control" >
                    
    
                </div>
                <div class="col-sm-3 form-group">
                    <label for="the_search2"> Search by author or text  :  </label>
                    <input type="text" [(ngModel)]="searchT"  name="smth2" (input)="tSearchOnType()" class="form-control" >
                    
    
                </div>

                <div class="col-sm-5 form-group">
                        <br>
                        <button class="btn btn-primary" (click)="searchPressed()">Search</button>
                        
        
                    </div>
    </div>
    </form>

    <div class="row">
        <div class="col-xs-12">
                <a  class="list-group-item clearfix col-xs-12" *ngFor="let p of photos">                    
    
                        <div class="pull-left col-xs-7">
                               
                                <h4 class="list-group-item-heading">By : {{p.author}}</h4>
                                <p class="list-group-item-text">{{p.text}}</p>
                        </div>
                                <span class="pull-right col-xs-5">
                                        <img [src]="p.photo" class="img-respnsive" >
                                </span>
                               
                               
                                <div class="col-xs-12">
                                    <button type="button" [ngClass]=" !checkPhotoExist(p) ? 'btn btn-success' : 'btn btn-primary' " [disabled]="checkPhotoExist(p)"  (click)="addFavorit(p)"><span class="glyphicon glyphicon-star"></span>{{  checkPhotoExist(p) ? "Already a favorite" : "Add to my favorites" }}</button>
                            </div>      
                        
                </a>
                
        </div>
    </div>
